.DS_Store

# Swift Package Manager
.build/
.swiftpm/
Package.resolved
dist/

# Xcode
DerivedData/
*.xcworkspace
*.xcodeproj/project.xcworkspace/
*.xcuserdatad/
*.xcuserstate
xcuserdata/

# Editors
.idea/
.vscode/
